import (RcppNumerical)
importFrom (RcppParallel, 
    RcppParallelLibs)
importFrom (Rcpp, 
    evalCpp)
export(hdotpolycpp)
export(makegkPolygoncpp)
export(polygonfxicpp)
export(polygonhistoriescpp)
useDynLib(secrfunc, .registration = TRUE)